# Some Konsole quick commands can contains personal info
/konsole/.config/konsolequickcommandsconfig

# Gwenview settings file sadly can contain files history
/gwenview/.config/gwenviewrc

# Okular settings file sadly can contain files history
/okular/.config/okularrc
