/* ROUNDED THEME FOR ROFI */
/* Author: Newman Sanchez (https://github.com/newmanls) */

* {
    bg0:rgba(65, 65, 65, 0.95);
    bg1:rgb(85, 85, 85);
    bg2:rgba(104, 104, 104, 0.5);
    bg3:rgba(255, 255, 255, 0.95);
    fg0:rgb(255, 255, 255);
    fg1:rgb(255, 255, 255);
    fg2:rgb(255, 255, 255);
    fg3:rgb(105, 105, 105);
    fg4:rgb(0, 0, 0);
}

@import "template/rounded-template.rasi"

element selected {
    text-color: @bg1;
}
