* {
  margin: 0px;
  padding: 0px;
  border: none;
  border-radius: 0px;
  background: none;
  font-family: 'Fira Code';
}

/* Make waybar transparent */
window#waybar {
  background: transparent;
}

/* Tooltip popups */
tooltip {
  background-color: #222222;
  color: #ffffff;
  border-radius: 4px;
  border: 1px solid #444444;
  padding: 2px 4px;
  font-size: 16px;
}

#workspaces,
#custom-power,
#battery,
#cpu,
#memory,
#disk.rootfs,
#disk.homefs,
#custom-wallpaper,
#clock,
#language,
#tray,
#custom-brightness,
#pulseaudio.input,
#pulseaudio.output,
#custom-notifications {
  /* Same gaps */
  margin-bottom: 4px;
  margin-left: 2px;
  margin-right: 2px;

  /* Same block style */
  border-radius: 8px;
  font-size: 24px;
  background: alpha(#444444, 0.8);
  color: #ffffff;

  padding: 0px 6px;
}

#custom-power,
#battery,
#cpu,
#memory,
#disk.rootfs,
#disk.homefs,
#custom-wallpaper,
#language,
#custom-brightness,
#pulseaudio.input,
#pulseaudio.output,
#custom-notifications {
  font-size: 16px;
}

/* Make two blocks look like one */
#custom-power {
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 0;
}

#battery {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 0;
}

#workspaces {
  padding: 0;
  margin-left: 4px;
}

#workspaces button {
  margin-top: 0px;
  padding: 0px 6px;

  /* Borders between workspaces */
  border-right: solid 1px #aaaaaa;
  border-left: solid 1px #aaaaaa;
}

#workspaces button:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-left: none;
}

#workspaces button:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-right: none;
}

#workspaces button.active {
  background: alpha(#007700, 0.4);
}

#battery,
#cpu,
#memory,
#disk.rootfs,
#disk.homefs {
  color: #ffffff;
}

#battery.warning,
#cpu.warning,
#memory.warning,
#disk.rootfs.warning,
#disk.homefs.warning {
  color: #ffbb22;
}

#battery.critical,
#cpu.critical,
#memory.critical,
#disk.rootfs.critical,
#disk.homefs.critical,
#pulseaudio.input.source-muted,
#pulseaudio.output.muted {
  color: #aa0000;
}

#language {
  /* We use monospace to keep same width */
  font-family: 'Fira Code', monospace;
}

#tray {
  padding: 0px 4px;
}

menu {
  background: alpha(#222222, 0.9);
  color: #ffffff;

  border: solid 2px #aaaaaa;

  /* Add extra padding for menu items to not cover menu borders */
  padding: 1px;

  border-radius: 8px;
}

menu menuitem,
submenu menuitem {
  /* Make text smaller */
  font-size: 16px;

  /* Increase list items height */
  padding: 4px 0;

  /* Add separators between list items */
  border-top: solid 1px #666666;
  border-bottom: solid 1px #666666;

  /* Remove margin between list items */
  margin: 0;
}

/* Add separators between list items */
menu menuitem:first-child,
submenu menuitem:first-child {
  border-top: none;
}

separator {
  border-top: solid 1px #aaaaaa;
  border-bottom: solid 1px #aaaaaa;
  background: #aaaaaa;
}

/* Add separators between list items */
menu menuitem:last-child,
submenu menuitem:last-child {
  border-bottom: none;
}

menu menuitem:hover,
submenu menuitem:hover {
  /* background-color: #003300; */

  /* Same block style */
  background: alpha(#777777, 0.4);
  color: #ffffff;
}

#custom-notifications {
  margin-right: 4px;
}