* {
  margin: 0px;
  padding: 0px;
  border: none;
  border-radius: 0px;
  background: none;
  font-family: 'Fira Code';
}

/* Make waybar transparent */
window#waybar {
  background: transparent;
}

#workspaces {
  /* Left gap */
  margin-left: 8px;

  /* Same gaps */
  margin-bottom: 8px;

  /* Same block style */
  border-radius: 8px;
  font-size: 24px;
  background: alpha(#777777, 0.4);
  color: #ffffff;

  /* We use monospace to keep same width */
  font-family: 'Fira Code', monospace;
}

#workspaces button {
  margin-top: 0px;
  padding: 0px 12px;

  /* Borders between workspaces */
  border-right: solid 1px #aaaaaa;
  border-left: solid 1px #aaaaaa;
}


#workspaces button:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-left: none;
}

#workspaces button:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-right: none;
}

#workspaces button.active {
  background: alpha(#007700, 0.4);
}

#tray {
  /* Right gap */
  margin-right: 8px;

  /* Same gaps */
  margin-bottom: 8px;

  /* Same block style */
  border-radius: 8px;
  font-size: 24px;
  background: alpha(#777777, 0.4);
  color: #ffffff;

  padding: 0px 4px;
}

#tray menu {
  background: #000000;
  color: #ffffff;

  border: solid 1px #aaaaaa;

  /* Add extra padding for menu items to not cover menu borders */
  padding: 1px;

  border-radius: 8px;
}

#tray menu * {
  font-size: 18px;
}

#tray menu menuitem:hover,
#tray submenu menuitem:hover {
  /* background-color: #003300; */

  /* Same block style */
  background: alpha(#777777, 0.4);
  color: #ffffff;
}

#custom-notifications {
  /* Right gap */
  margin-right: 8px;

  /* Same gaps */
  margin-bottom: 8px;

  /* Same block style */
  border-radius: 8px;
  font-size: 24px;
  background: alpha(#777777, 0.4);
  color: #ffffff;

  padding: 0px 12px;
}

#battery {
  /* Right gap */
  margin-right: 8px;

  /* Same gaps */
  margin-bottom: 8px;

  /* Same block style */
  border-radius: 8px;
  font-size: 24px;
  background: alpha(#777777, 0.4);
  color: #ffffff;

  padding: 0px 10px 0px 12px;
}

#battery {
  color: #00aa00;
}

#battery.warning {
  color: #ffbb22;
}

#battery.critical {
  color: #aa0000;
}

#language {
  /* Right gap */
  margin-right: 8px;

  /* Same gaps */
  margin-bottom: 8px;

  /* Same block style */
  border-radius: 8px;
  font-size: 24px;
  background: alpha(#777777, 0.4);
  color: #ffffff;

  /* We use monospace to keep same width */
  font-family: 'Fira Code', monospace;

  padding: 0px 12px;
}

#clock {
  /* Right gap */
  margin-right: 8px;

  /* Same gaps */
  margin-bottom: 8px;

  /* Same block style */
  border-radius: 8px;
  font-size: 24px;
  background: alpha(#777777, 0.4);
  color: #ffffff;

  padding: 0px 10px 0px 12px;
}