/* Make waybar transparent */
window#waybar {
  background: transparent;
}

#workspaces button:first-child {
  margin-left: 8px;
}

#clock.date:last-child {
  margin-right: 8px;
}

#workspaces button {
  /* Same block style */
  margin-top: 4px;
  padding: 0px 12px;
  border-radius: 64px;
  margin-left: 8px;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 24px;
  background: alpha(#777777, 0.6);
  color: #ffffff;
}

#workspaces button.active {
  background: alpha(#007700, 0.6);
}

#tray {
  /* Same block style */
  margin-top: 4px;

  background: transparent;
}

#clock.time {
  /* Same block style */
  margin-top: 4px;
  padding: 0px 12px;
  border-radius: 64px;
  margin-left: 8px;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 24px;
  background: alpha(#777777, 0.6);
  color: #ffffff;
}

#clock.date {
  /* Same block style */
  margin-top: 4px;
  padding: 0px 12px;
  border-radius: 64px;
  margin-left: 8px;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 24px;
  background: alpha(#777777, 0.6);
  color: #ffffff;
}